{% extends 'base.html' %} 
{% block content %}
<h1>About the Math Problem Collector</h1>
<hr />
<p class="page-content">
Problem Collector is a handy app designed to help users collect, organize, and explore math problems easily. Whether you’re a student, teacher, or enthusiast, this app offers a simple and clean interface to store and access a variety of math problems, making studying and teaching more efficient and enjoyable. Dive in and start building your personal math problem library today!
</p>
{% endblock %}
